
@{
    ViewData["Title"] = "DetallePeli";
}
@model Pelicula
<h1>DetallePeli</h1>

<div class="card">
    <img src="~/images/@Model.Foto" style="width:150px" />
    <div class="card-body">
        <h2>@Model.Titulo</h2>
        
        <h5>@Model.Actores </h5>
        <p>@Model.Argumento</p>
    </div>
    <div class="card-footer">
        <a asp-action="Guardarcesta" asp-controller="Home" asp-route-id="@Model.Id">
            Comprar
        </a>
        <a asp-action="Index" asp-controller="Home">
            Volver
        </a>
        <a asp-action="Modificar" asp-controller="Home" asp-route-id="@Model.Id">
            modificar
        </a>
    </div>

</div>

